body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    background: rgb(252, 0, 189) url("../img/pattern.png");
    background-size: 200px;
    
}


.title {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    
}


.sub-title2 {
    color:rgb(243, 8, 8);
}

.justify {
    text-align: justify;
    font-weight: bold;
    font-style: italic;
    color: rgb(150, 10, 10)
}

.table {
    border: 1px solid #000;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

}

.table th {
    text-align: left;
    padding: 5px;
    color: rgb(199, 18, 18);
}

.table td {
    border: 1px solid #000;
    padding: 5px;
}

.table tfoot td {
    text-align: right;
}

/* post */



.post {
    border: 1px solid rgb(255, 255, 255);
    padding: 15px 25px;
    width: 700px;
    height: 400px;
    margin: 0 auto 20px;
    background: url("../img/bg.jpg") no-repeat;
    background-size: 100% auto; 
    
    
}



.post-title {
    margin-top: 0;
    margin-bottom: 20px;
    color: rgb(255, 251, 0);
 
}



.post-text {
    color: rgb(255, 255, 255);
}

.post-text p {

    margin: 0 0 10px 0;
}

.span-one {
  font-style: italic;
  color:rgb(255, 0, 0);
  text-decoration: underline;
  text-transform:uppercase;
    
}

/* gradient */

.gradient {
    width: 400px;
    height: 200px;
    margin: 0 auto;
    /*background-image: linear-gradient(to top, rgb(255, 174, 0), rgb(251, 255, 0), rgb(255, 0, 0));*/
    background-image: radial-gradient(circle, rgb(255, 174, 0), rgb(251, 255, 0), rgb(255, 0, 0));
}