body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: black 
}

p {
   text-indent: 20px;
}

.title {
    text-align: center;
    font-weight: 700;
    font-family: Tahoma;
    text-decoration: underline;
    letter-spacing: -2px;
    text-transform: lowercase;
}

.justify {
    text-align: justify;
    font-weight: normal;
    font-style: italic;
    text-transform: capitalize;
}

ul {
    list-style-type: square;
    list-style-position: outside;
    color:blueviolet;
    font-family: fantasy;
}

ol {
    list-style-type:decimal-leading-zero
}

.table {
    border: 1px solid #000;
    width: 100%;
    border-collapse: collapse;
}

.table th {
    text-align: left;
}

.table td {
    padding: 5px 10px;
    border: 1px solid #000
}

.table tfoot td {
    text-align: right;
}